<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484309648056-nsgjvru8j0ci8citnlmt69n7a7cok5bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484309648056-nsgjvru8j0ci8citnlmt69n7a7cok5bs</string>
	<key>API_KEY</key>
	<string>AIzaSyDj4NfNyEUopq0eCw-aunYPCXNwKP2IJk8</string>
	<key>GCM_SENDER_ID</key>
	<string>484309648056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dattd.RN-example-base</string>
	<key>PROJECT_ID</key>
	<string>rnexamplefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>rnexamplefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484309648056:ios:303ed540a14076219bea4d</string>
</dict>
</plist>